<div class="card {{ cardClasses }}">
  <div class="card-block">
    <button *ngIf="showClose"
            (click)="doClose()"
            type="button"
            class="close pull-right"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 *ngIf="header"
        class="card-title">{{ header }}</h4>
    <ng-content></ng-content>
  </div>
</div>
