<div class="block-container center delete"
     (dragover)="onTrashDrag($event)"
     (drop)="onTrashDrop($event)"
     [hidden]="!(isTrashShown | async)">
  <span class="fa fa-trash fa-2x"></span>
</div>
