<div class="row">
  <div class="col-md-6">
    <h3>Kontakt-Informationen<small> nach §5 TMG</small></h3>
    <p>Im einfachsten Fall erreichen Sie mich per E-Mail oder über die nebenstehenden Platformen. In allen anderen Fällen erreichen Sie mich auch postalisch:</p>
    <p>
      Fachhochschule Wedel <br/>
      Marcus Riemer <br/>
      Feldstraße 143 <br/>
      22880 Wedel<br/>
    </p>
  </div>
  <div class="col-md-6">
    <h3>Marcus Riemer</h3>
    <dl class="">
      <dt><a href="http://www.fh-wedel.de/~mri">FH Wedel Mitarbeiterseite</a></dt>
      <dd>Übersicht &amp; Informationen zu meiner Tätigkeit an der FH Wedel.</dd>
      <dt><a href="https://bitbucket.org/marcusriemer/esqulino">BlattWerkzeug auf Bitbucket</a></dt>
      <dd>Hier finden sich die vollständigen Quellen zum herunterladen.</dd>
      <dt>mri@FH-Wedel.de | <a href="/static/pgp/mrifhw.pub">Public Key</a></dt>
      <dd>Anfragen zu BlattWerkzeug bitte an diese Adresse</dd>
    </dl>
    <div class="alert alert-info" role="alert">
      <strong>Ich verschicke meine E-Mails grundsätzlich digital signiert, wenn möglich auch verschlüsselt.</strong> Wer seine digitale Kommunikation ebenfalls verschlüsseln möchte, findet eine gute Anleitung bei <a class="alert-link" href="https://netzpolitik.org/2013/anleitung-so-verschlusselt-ihr-eure-e-mails-mit-pgp/">netzpolitik.org</a>.
    </div>
  </div>
</div>

