<div class="container front">
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand"
       [routerLink]="['/']">
      <img src="/vendor/logos/blattwerkzeug-logo.svg"
           height="32px"
           title="BlattWerkzeug">
    </a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/about','projects']"
           id="navbar-navigate-projects"
           class="nav-link">
          Verfügbare Projekte
        </a>
      </li>

      <li class="nav-item pull-xs-right">
        <a class="nav-link"
           [routerLink]="['/about','imprint']">
          Impressum
        </a>
      </li>
    </ul>
  </nav>
  <flash-message-list></flash-message-list>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="logos">
      <a href="http://www.fh-wedel.de/mitarbeiter/mri/esqulino"><img src="/vendor/logos/fhw.png"
                                                                     title="Fachhochschule Wedel - Marcus Riemer"
                                                                     height="35px" /></a>
      <a href="http://www-ps.informatik.uni-kiel.de/~fhu/"><img src="/vendor/logos/cau.png"
                                                                title="Christian-Albrechts-Universität Kiel- Frank Huch"
                                                                height="35px" /></a>
    </div>
  </div>
</div>
