<div class="card project-list-item">
  <img *ngIf="hasImage"
       class="card-img-top img-fluid"
       [src]="imageUrl"
       alt="Preview Image">
  <div class="card-img-overlay">
    <h2 class="card-title">{{ project.name }}</h2>
  </div>
  <div class="card-block">
    <h2 [hidden]="hasImage"
        class="card-title">{{ project.name }}</h2>
    <p class="card-text">{{ project.description }}</p>
    <a *ngIf="project.indexPageId"
       [href]="viewUrl"
       [name]="project.name"
       class="btn btn-primary btn-block btn-view-project">
      Ansehen
    </a>
    <a [routerLink]="['/editor/', project.id]"
       [name]="project.id"
       class="btn btn-info btn-block btn-edit-project">
      Bearbeiten
    </a>
  </div>
</div>
