<div class="card">
  <div class="card-block"
       (dragover)="onBlueprintRowDrag($event, 0)"
       (drop)="onBlueprintRowDrop($event, 0)">
    <h4 class="card-title">Seitenlayout</h4>
    <p class="card-text">
      In diesem Editor kannst du das Layout deiner Seite mit Hilfe von Zeilen festlegen und ein paar einfache Bedienelemente benutzen.
    </p>
  </div>
  
  <div class="card-block">      
    <div class="container-fluid page-preview">
      <!-- "Zeroeth row" -->
      <div *ngIf="showBlueprintRow(0)"
           (dragover)="onBlueprintRowDrag($event, 0)"
           (drop)="onBlueprintRowDrop($event, 0)"
           class="row blueprint">
        <!-- Blueprint columns for a valid dragged row -->
        <div *ngFor="let col of draggedRow?.row?.children"
             (dragover)="onBlueprintColumnDrag($event, rowIndex + 1, colIndex + 1)"
             (drop)="onBlueprintColumnDrop($event, rowIndex + 1, colIndex + 1)"
             [ngClass]="col.columnClasses">
          <esqulino-widget-loader
              *ngFor="let widget of col.children; let widgetIndex = index;"
              [widget]="widget">
          </esqulino-widget-loader>
        </div>
        <!-- Blueprint columns for a empty dragged row -->
        <div *ngIf="!draggedRow"
             class="col-xs-12">
          <h4><span class="fa fa-plus"></span></h4>
        </div>
      </div>
      <!-- Actual rows, structure identical to above -->
      <template ngFor let-row [ngForOf]="page?.children" let-rowIndex="index">
        <div (dragover)="onBlueprintRowDrag($event, rowIndex + 1)"
             (drop)="onBlueprintRowDrop($event, rowIndex + 1)"
             (dragstart)="startRowDrag($event, row, rowIndex)"
             [hidden]="!showRow(rowIndex)"
             class="row"
             draggable="true">
          <div *ngFor="let col of row.children; let colIndex = index;"
               (dragover)="onBlueprintColumnDrag($event, rowIndex + 1, colIndex + 1, 0)"
               (drop)="onBlueprintColumnDrop($event, rowIndex + 1, colIndex + 1, 0)"
               [ngClass]="col.columnClasses">
            <esqulino-widget-loader
                *ngFor="let widget of col.children; let widgetIndex = index;"
                (dragover)="onBlueprintColumnDrag($event, rowIndex + 1, colIndex + 1, widgetIndex + 1)"
                (drop)="onBlueprintColumnDrop($event, rowIndex + 1, colIndex + 1, widgetIndex + 1)"
                (dragstart)="startWidgetDrag($event, widget, rowIndex, colIndex, widgetIndex)"
                [widget]="widget"
                [hidden]="!showWidget(rowIndex, colIndex, widgetIndex)"
                draggable="true">
            </esqulino-widget-loader>
          </div>
        </div>
        <div *ngIf="showRow(rowIndex) && showBlueprintRow(rowIndex + 1)"
             (dragover)="onBlueprintRowDrag($event, rowIndex + 1)"
             (drop)="onBlueprintRowDrop($event, rowIndex + 1)"
             class="row blueprint">
          <div *ngFor="let col of draggedRow?.row?.children"
               [ngClass]="col.columnClasses">
            <esqulino-widget-loader
                *ngFor="let widget of col.children; let widgetIndex = index;"
                [widget]="widget">
            </esqulino-widget-loader>
          </div>
          <div *ngIf="!draggedRow"
               class="col-xs-12">
            <h4><span class="fa fa-plus"></span></h4>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
