/* Editor layout */
$sidebar-width: 300px;
$navbar-width:  270px;
$navbar-height:  4rem;

/* SQL components */
$component-width:  90px;
$component-indent: 15px;

/* This colour is used for the navigational parts of the UI */
$background-nav: #f7f7f9;