.editor .sql {
    display: flex;
    align-items: stretch;
}

.editor .sql .block-container {
    line-height: 2;
}

.editor .sql .block-container .expression {
    padding: 4px;
}

.sidebar .block-container.center {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar .delete {
    background-color: red;
    border-radius: 500px;                      
}

.sidebar .block .column {
    margin-bottom: 10px;
}

.alert h6 {
    text-align: center;
    font-weight: bold;
}
