.page-preview {
    .blueprint {
        border-left: 5px doubleg blue;
        text-align: center;
    }

    .row > [class^="col-"] {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .row {
        margin-bottom: .75rem;
    }

    .widget-preview {
        background-color: whitesmoke;
        padding: 5px;
    }

    .widget-preview .warning {
        border-left: 5px solid orange;
        padding-left: 5px;
    }

    .link-preview {
        text-decoration: underline;
        color: blue;
    }

    .widget-preview:hover {
        background-color: white;
        cursor: pointer;
    }
}

