.page-preview {
    /* First level is unstyled */
    .tree-level {
        border-left: 0px dotted grey;
        padding-left: 0px;
    }

    /* All following level are styled */
    .tree-level .tree-level {
        border-left: 5px solid rgba(86, 61, 124, 0.2);
        padding-left: 20px;
    }

    .tree-level.text {

    }

    .block {
        display: block;
    }

    .text {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 2px;
    }
}

/**
 * Base block for a tree-widget.
 */
.block-container .widget, .block-container .widget-close {
    display: inline-block;
    white-space: nowrap;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-bottom: 2px;
}

/**
 * Insert an artificial space *only* if there is a <widget-header>
 * that follows the widget-type text.
 */
.block-container .widget .widget-type + widget-header {
    margin-left: 0.5rem;
}

/**
 * 
 */
.block-container .widget-type {
    color: #00009f;
}

.block-container pre.text {
    font-size: 1.2rem;
    font-family: monospace;
    margin-bottom: 2px;
}

/**
 * The widget header is used for he key="value" argument pairs of
 * xml-like nodes.
 */
.block-container .widget .widget-header {
    display: inline-block;

    .name {
        text-transform: lowercase;
        color: #4f6816;
    }

    /**
     * The equals sign between keys and values.
     */
    .name::after {
        content: "=";
    }

    /**
     * Surround values with " "
     */
    .value::after, .value::before {
        content: "\"";
    }
}

/**
 * Introduce xml brackets for widgets
 */
.block-container {
    .widget .widget-type::before {
        content: "<";
    }

    .widget-close::before {
        content: "</";
    }

    .widget::after, .widget-close::after {
        content: ">";
    }
}

/**
 * Extra spacing for block level elements.
 */
.block-container .widget widget-header.block .widget-header {
    margin-left: 1rem;
    padding-left: 1rem;
}

