.front {
    nav {
        /* Put some space below the navigation */
        margin-bottom: 15px;
    }

    .project-list-item h2 {
        font-weight: bold;
    }

    .project-list-item .card-img-top {
        opacity: 0.1;
        transition: opacity 0.3s;
    }

    .project-list-item:hover .card-img-top {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .project-list-item .card-img-overlay {
        opacity: 1;
        transition: opacity 0.3s;
    }

    .project-list-item:hover .card-img-overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
    }

    .about-text {
        hyphens: auto;
    }
}

.loading {
    display: flex;     
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 48px;
    font-family: monospace;
}

.rainbow {
    animation: colorRotate 3s linear 0s infinite;
    animation-play-state: running;
}

.rainbow:hover {
    animation-play-state: paused;
}

@keyframes colorRotate {
    from  {color: rgb(255, 0, 0);}
    16.6% {color: rgb(255, 0, 255);}
    33.3% {color: rgb(0, 0, 255);}
    50%   {color: rgb(0, 255, 255);}
    66.6% {color: rgb(0, 255, 0);}
    83.3% {color: rgb(255, 255, 0);}
    to    {color: rgb(255, 0, 0);}
}
