@import 'definitions';

.footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    a {
        margin-left: 10px;
    }

    .logos {
        float: right;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}


@import 'front';
@import 'editor';
@import 'editor-page';
@import 'editor-page-visual';
@import 'editor-page-tree';
@import 'editor-query';

@import 'blocks';
