<esqulino-widget-node [model]="model">
  <span class="widget-header">
    <widget-parameter>
      <span class="name">Ebene</span>
      <span class="value">{{ model.level }}</span>
    </widget-parameter>
  </span>
</esqulino-widget-node>
