<esqulino-widget-node [model]="model">
  <span class="widget-header">
    <widget-parameter>
      <span class="name">Name</span>
      <span class="value"><provided-parameter [parameterName]="model.outParamName"></provided-parameter></span>
    </widget-parameter>
  </span>
</esqulino-widget-node>
