<esqulino-widget-node [model]="model">
  <span class="widget-header">
    <widget-parameter *ngIf="hasTarget">
      <span class="name">Ziel</span>
      <span class="value"><span class="fa {{ targetIcon }} fa-fw" aria-hidden="true"></span>{{ targetName }}</span>
    </widget-parameter>
  </span>
</esqulino-widget-node>
