<div (click)="startEditing()"
     class="widget-preview">
  <h5>
    Aktion:
    <span (dragover)="onActionDragOver($event)"
          (drop)="onActionDrop($event)"
          class="block-container block">
      <span *ngIf="model.hasAction"
            class="parameter">
        <query-icon [query]="model.action.queryReference.query"></query-icon>
      </span>
      <span *ngIf="!model.hasAction"
            class="missing">Keine Aktion</span>
    </span>

    <template [ngIf]="model.hasAction">
      <span *ngFor="let param of parameters;"
            class="block-container">
        <span *ngIf="param.isSatisfied"
              class="constant">
          <span class="fa fa-fw {{ param.providingIconClass }}"
                aria-hidden="true"></span>
          {{ param.providingName }}
        </span>
        <span *ngIf="!param.isSatisfied"
              class="missing">
          {{ param.parameterName }}
        </span>

      </span>
    </template>
  </h5>

  <button (click)="startEditing()"
          type="button"
          class="btn btn-secondary btn-block">
    {{ model.text }}
  </button>
</div>
