<div (click)="startEditing()"
     [ngSwitch]="model.level"
     class="widget-preview">
  <h1 *ngSwitchCase="1">{{ model.text }}</h1>
  <h2 *ngSwitchCase="2">{{ model.text }}</h2>
  <h3 *ngSwitchCase="3">{{ model.text }}</h3>
  <h4 *ngSwitchCase="4">{{ model.text }}</h4>
  <h5 *ngSwitchCase="5">{{ model.text }}</h5>
  <h6 *ngSwitchCase="6">{{ model.text }}</h6>
</div>
