<sidebar-item-host [header]="HTML">
  <fieldset class="form-group">
    <label for="paragraph-sidebar-text">Code</label>
    <textarea [(ngModel)]="model.html"
              class="form-control"
              id="html-sidebar-text">
    </textarea>
  </fieldset>
</sidebar-item-host>
