<sidebar-item-host>
  <fieldset class="form-group">
    <label for="input-sidebar-caption">Eingabename</label>
    <input [(ngModel)]="model.outParamName"
           type="text"
           class="form-control"
           id="input-sidebar-outParamName">
  </fieldset>
  <fieldset class="form-group">
    <label for="input-sidebar-caption">Titel</label>
    <input [(ngModel)]="model.caption"
           type="text"
           class="form-control"
           id="input-sidebar-caption">
  </fieldset>
  <fieldset class="form-group">
    <label for="input-sidebar-description">Beschreibung</label>
    <input [(ngModel)]="model.description"
           type="text"
           class="form-control"
           id="input-sidebar-description">
  </fieldset>
  <fieldset class="form-group">
    <label for="heading-sidebar-level">Eingabetyp</label>
    <select [(ngModel)]="model.inputType"
            class="form-control">
      <option value="text">Text</option>
      <option value="number">Zahl</option>
    </select>
  </fieldset>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" [(ngModel)]="model.required">
      Pflichteingabe?
    </label>
  </div>
</sidebar-item-host>
