<sidebar-item-host [showClose]="true"
                   [sidebarInstanceId]="sidebarInstanceId"
                   [header]="'Absatz'">
  <fieldset class="form-group">
    <label for="paragraph-sidebar-text">Text</label>
    <textarea [(ngModel)]="model.text"
              class="form-control"
              id="paragraph-sidebar-text">
    </textarea>
  </fieldset>
</sidebar-item-host>
