<table *ngIf="tables"
       class="table">
  <tbody *ngFor="let table of tables">
    <tr>
      <td colspan="6">
        <h3>Tabelle <code>{{ table.name }}</code></h3>
      </td>
    </tr>
    
    <tr>
      <th>#</th>
      <th>PK</th>
      <th>Not Null</th>
      <th>Name</th>
      <th>Typ</th>
      <th>Standardwert</th>
    </tr>

    <tr *ngFor="let column of table.columns">
      <td>{{ column.index }}</td>
      <td>{{ column.primary }}</td>
      <td>{{ column.not_null }}</td>
      <td>{{ column.name }}</td>
      <td>{{ column.type }}</td>
      <td>{{ column.dflt_value }}</td>
    </tr>
  </tbody>  
</table>
