<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <sql-table id="schema-tables"
                 [tables]="project?.schema?.tables"
                 [allowCreate]="true">
      </sql-table>
    </div>
  </div>
</div>
