<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Projekteinstellungen
    </div>
    <div class="card-block">
      In diesem Abschnitt kannst du Einstellungen vornehmen, die das gesamte Projekt betreffen.
    </div>
    <div *ngIf="project"
         class="card-block">
      <div class="form-group row">
        <label for="project-id"
               class="col-sm-2 form-control-label">
          ID
        </label>
        <div class="col-sm-10">
          <input [ngModel]="project.id"
                 name="project-id"
                 class="form-control"
                 id="project-id"
                 readonly="true">
          <small class="text-muted">Diese ID ist einzigartig für dein Projekt und kann nicht verändert werden. Wenn ein Fehler auftritt, gibst du bitte diese ID mit an.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="project-name"
               class="col-sm-2 form-control-label">
          Name
        </label>
        <div class="col-sm-10">
          <input [(ngModel)]="project.name"
                 name="project-name"
                 class="form-control"
                 id="project-name"
                 placeholder="Name des Projekts">
          <small class="text-muted">Dieser Name beschreibt, was sich hinter deinem Projekt verbirgt.</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="project-description"
               class="col-sm-2 form-control-label">
          Beschreibung
        </label>
        <div class="col-sm-10">
          <textarea [(ngModel)]="project.description"
                    name="project-description"
                    class="form-control"
                    id="project-description"
                    placeholder="Beschreibung des Projekts"
                    rows="3">
          </textarea>
          
          <small class="text-muted">Beschreibe dein Projekt mit ein paar kurzen Sätzen. Erläutere dabei welche Probleme du damit löst oder welche Dinge du erklären möchtest.</small>
        </div>
      </div>

      <!-- Selecting the currently active database -->
      <div *ngIf="project?.availableDatabaseNames.length > 1"
           class="form-group row">
        <label for="project-index-page"
               class="col-sm-2 form-control-label">
          Aktuelle Datenbank
        </label>
        <div class="col-sm-10">
          <select [(ngModel)]="project.currentDatabaseName"
                  id="project-index-page"
                  class="form-control">
            <option *ngFor="let db of project.availableDatabaseNames"
                    [value]="db">
              {{db}}
            </option>
          </select>
          
          <small class="text-muted">
            Diese Datenbank wird von deinem Projekt gerade verwendet. Um sie zu ändern, musst du das Projekt speichern und die Seite neu laden.
          </small>
        </div>
      </div>

      <!-- Selecting a index page -->
      <div *ngIf="project?.pages.length > 0"
           class="form-group row">
        <label for="project-index-page"
               class="col-sm-2 form-control-label">
          Startseite
        </label>
        <div class="col-sm-10">
          <select [(ngModel)]="project.indexPageId"
                  id="project-index-page"
                  class="form-control">
            <option *ngFor="let page of project?.pages"
                    [value]="page.id">
              {{page.name}}
            </option>
          </select>
          
          <small class="text-muted">
            Diese Seite wird der Benutzer sehen, wenn er dein Projekt zum ersten Mal besucht.
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="card"
           [class.card-inverse]="project?.queries?.length == 0"
           [class.card-info]="project?.queries?.length == 0">
        <div *ngIf="project?.queries?.length > 0"
             class="card-header">
          Abfragen
        </div>
        <div *ngIf="project?.queries?.length == 0"
             class="card-block">
          <p>
            <strong>Dein Projekt hat noch keine Abfragen!</strong>
            Schau dir am Besten mal das Schema an und überlege dir, welche Daten Besucher wohl interessieren würden.
          </p>

          <a [routerLink]="['/editor', project.id , 'query', 'create']"
             class="btn btn-primary">
            <span class="fa fa-plus fa-fw"></span>
            Abfrage erstellen
          </a>
        </div>
        <ul id="project-queries"
            class="list-group list-group-flush">
          <li *ngFor="let query of project?.queries"
              class="list-group-item">
            <div class="input-group">
              <input [(ngModel)]="query.name"
                     name="query-{{query.id}}"
                     class="form-control"
                     type="text">
              <span class="input-group-btn">
                <button (click)="onQueryDelete(query.id)"
                        class="btn btn-warning pull-right">
                  <span class="fa fa-trash"></span>
                </button>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="card"
           [class.card-inverse]="project?.pages?.length == 0"
           [class.card-info]="project?.pages?.length == 0">
        <div *ngIf="project?.pages?.length > 0"
             class="card-header">
          Seiten
        </div>
        <div *ngIf="project?.pages?.length == 0"
             class="card-block">
          <p>
            <strong>Momentan ist dein Projekt für normale Besucher noch nicht sichtbar!</strong>
             Erstelle eine Startseite, wenn du dieses Projekt gerne mit deinen Bekannten teilen möchtest.
          </p>

          <a [routerLink]="['/editor', project.id , 'page', 'create']"
             class="btn btn-primary">
            <span class="fa fa-plus fa-fw"></span>
            Startseite erstellen
          </a>
        </div>
        <ul id="project-pages"
            class="list-group list-group-flush">
          <li *ngFor="let page of project?.pages"
              class="list-group-item">
            <div class="input-group">
              <input [(ngModel)]="page.name"
                     name="page-{{page.id}}"
                     class="form-control"
                     type="text">
              <span class="input-group-btn">
                <button (click)="onPageDelete(page.id)"
                        class="btn btn-warning pull-right">
                  <span class="fa fa-trash"></span>
                </button>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
