<div class="container-fluid">
  <div class="card">
    <div class="card-block">
      <h4>Neue Seite erstellen</h4>
      <p>Mit Seiten kannst du Besuchern deiner Webseite eine "normale" Benutzeroberfläche anbieten.</p>
    </div>
    <div class="card-block">
      <form>
        <div class="form-group row"
             [class.has-danger]="!isNameValid(pageName)"
             [class.has-success]="isNameValid(pageName)">
          <label for="pageName" class="col-sm-2 form-control-label">Name der Seite</label>
          <div class="col-sm-10">
            <input #name="ngModel"
                   [(ngModel)]="pageName"
                   [class.form-control-danger]="!isNameValid(pageName)"
                   [class.form-control-success]="isNameValid(pageName)"
                   name="pageName"
                   type="text"
                   class="form-control">
            <small class="text-muted">
              Wähle einen eindeutigen Namen der mit einem Buchstaben beginnt. Danach dürfen Buchstaben, Ziffern, Leerzeichen, Unter- oder Bindestriche folgen.
            </small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
