<div *ngIf="false"
     class="card">
  <div class="card-block">
    <h4 class="card-title">
      Mapping
    </h4>
    <p class="card-text">
      Welche verfügbaren Eingaben sollen für welche Parameter genutzt werden?
    </p>
  </div>
</div>
    

<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      Daten
    </h4>
    <p class="card-text">
      Hier kannst du sehen welche Daten auf dieser Seite zur Verfügung stehen. Nutze Bedienelemente wie Textfelder, verwende von dir geschriebene Abfragen, ergänze Routeninformationen oder lege Werte statisch fest.
    </p>
  </div>
  <!-- Using Queries -->
  <div class="card-block">
    <h5 class="card-title">
      Abfragen und SQL-Anweisungen
    </h5>
    <div class="row">
      <label for="select-query-ref"
             class="col-sm-2 form-control-label">
        Weitere Abfrage
      </label>
      <div class="col-sm-8">
        <select [(ngModel)]="toReference.queryId"
                id="select-query-ref"
                class="form-control">
          <option *ngFor="let q of possibleQueries;"
                  [value]="q.id">
            <query-icon [query]="q"
                        [detailSelect]="true">
            </query-icon>
          </option>
        </select>
      </div>
      <div class="col-sm-2">
        <button (click)="onAddQueryReference(toReference)"
                class="btn btn-primary btn-block">
          Benutzen!
        </button>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let used of referencedQueries"
        class="list-group-item">
      <div class="input-group">
        <span class="input-group-addon">
          <query-icon [query]="used.query"
                      [detailSelect]="true"
                      [showName]="false">
          </query-icon>
        </span>
        <input [(ngModel)]="used.name"
               class="form-control"
               type="text">
        <span class="input-group-btn">
          <button (click)="page.removeQueryReference(used)"
                  class="btn btn-warning pull-right">
            <span class="fa fa-trash"></span>
          </button>
        </span>
      </div>
    </li>
  </ul>

  <!-- Specifying parameters -->
  <div class="card-block">
    <h5 class="card-title">
      Seitenparameter
    </h5>
    <p class="card-text">
      Manche Seiten benötigen weitere Informationen damit sie dargestellt werden können. Eine "Suchen"-Seite muss zum Beispiel wissen, wonach überhaupt gesucht wird.
    </p>
    <div class="row">
      <label for="input-page-param-name"
             class="col-sm-2 form-control-label">
        Parametername
      </label>
      <div class="col-sm-8">
        <input [(ngModel)]="paramName"
               list="page-required-parameters"
               id="input-page-param-name"
               type="text"
               class="form-control">
      </div>
      <div class="col-sm-2">
        <button (click)="addPageParameter(paramName)"
                class="btn btn-primary btn-block">
          Neuer Parameter
        </button>
      </div>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <li *ngFor="let param of pageParameters;"
        class="list-group-item">
      <div class="input-group">
        <input [(ngModel)]="param.name"
               class="form-control"
               type="text">
        <span class="input-group-btn">
          <button (click)="page.removeParameter(param)"
                  class="btn btn-warning pull-right">
            <span class="fa fa-trash"></span>
          </button>
        </span>
      </div>
    </li>
  </ul>
</div>
