<div *ngIf="showPreview"
     class="card">
  <div class="card-block">
    <h4 class="card-title">
      <button (click)="doClose()"
              type="button"
              class="close pull-right"
              aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Vorschau
      <small *ngIf="parametersRequired">(Parameter erforderlich)</small>
    </h4>
    <p class="card-text">
      So wird die Seite für einen Besucher <em>ungefähr</em> aussehen. Links und Knöpfe werden allerdings <em>nicht funktionieren</em>, benutze den angezeigten Link zu deiner Seite wenn du mit ihr interagieren möchtest. 
      <span *ngIf="parametersRequired">
        Da diese Seite ohne Eingaben vom Benutzer nicht funktioniert, musst du hier testweise Werte eingeben wenn du sie ausprobieren möchtest.
      </span>
    </p>
    
    <!-- TODO: This code is more or less an exact duplicate of the same
         functionality in the query preview.-->
    <div *ngFor="let param of requestParameters"
         [class.has-danger]="!isParameterAvailable(param.name)"
         class="input-group form-group">
      <span class="input-group-addon"
            id="param-{{param.name}}">
        {{ param.name }}
      </span>
      <input [(ngModel)]="cachedArguments[param.name]"
             (change)="invalidateRefresh()"
             type="text"
             class="form-control"
             name="parameter-{{param.name}}">
    </div>

    <!-- Showing the link that would result out of the current parameters -->
    <h5>
      <button (click)="refreshHeight()"
              class="btn btn-primary btn-sm pull-right">
        <span class="fa fa-bug"></span> Höhe anpassen
      </button>
      <a (click)="onNavigateFullPreview($event)"
         target="_blank"
         href="{{ viewUrl }}"><span class="fa fa-globe fa-fw"></span>{{ viewUrl }}</a>
      <small *ngIf="(page.saveStateChanged | async ).saveRequired">
        (Speichern erforderlich!)
      </small>
    </h5>

    <div [hidden]="!hasRenderPreview">
      <iframe width="100%">
      </iframe>
    </div>
  </div>
</div>
