<sidebar-item-host [cardClasses]="additionalCardClasses">
  <!-- Tell the user if the page has no specific data associated -->
  <div *ngIf="!hasAnyData && !showQueryDropTarget"
       class="alert alert-info"
       role="alert">
    <p class="card-text">
      <strong>Bisher sind für diese Seite keine speziellen Daten ver&shy;füg&shy;bar</strong>. Nutze die Da&shy;ten&shy;bank, Seiten&shy;parametern oder Eingab&shy;elemente um mit deinen Benutzern zu interagieren.
    </p>
  </div>

  <!-- Adding new query references to this page -->
  <div *ngIf="showQueryDropTarget"
       class="block-container block">
    <div (dragover)="onAddQueryReferenceDrag($event)"
         (drop)="onAddQueryReferenceDrop($event)"
         class="column blueprint text-xs-center">
      <span class="fa fa-plus"></span>
      Abfrage
    </div>
  </div>
  
  <!-- Page URL data -->
  <div *ngIf="showPageRequestParameters"
       class="block-container block">
    <span class="caption">
      Seitenparameter
    </span>
    <ul class="fa-ul">
      <li *ngFor="let parameter of page.requestParameters;">
        <span class="fa fa-li fa-sign-in" aria-hidden="true"></span>
        <span (dragstart)="startParameterValueProviderDrag($event, parameter.fullName)"
              draggable="true"
              class="column indent">
          {{ parameter.fullName }}
        </span>
      </li>
    </ul>
  </div>

  <!-- Query data & parameters -->
  <h5 *ngIf="referencedQueries.length > 0"
      class="block-container caption">
    Abfragen
  </h5>
  
  <!-- The query itself -->
  <div *ngFor="let used of referencedQueries;"
       class="block-container block">
    <span (dragstart)="startReferencedQueryDrag($event, used)"
          [title]="used.query.name"
          draggable="true"
          class="table">
      <query-icon [query]="used.query"
                  [detailSelect]="true"
                  [showName]="false"></query-icon>{{ used.name }}
    </span>
    
    <!-- Parameters for this query -->
    <ul *ngIf="used.query.hasParameters"
        class="fa-ul">
      <li *ngFor="let parameter of used.mapping;">
        <span class="fa fa-li {{parameter.providingIconClass}}" aria-hidden="true"></span>
        <span (dragover)="onParameterDrag($event)"
              (drop)="onParameterDrop($event, parameter)"
              class="parameter indent">
          {{ parameter.parameterName }}
        </span>
      </li>
    </ul>
    
    <!-- Columns of this query -->
    <ul *ngIf="used.hasColumns"
        class="fa-ul">
      <li *ngFor="let column of used.columns; trackBy: trackByColumnId;">
        <span class="fa fa-li fa-sign-in" aria-hidden="true"></span>
        <span (dragstart)="startColumnDrag($event, used, column)"
              [title]="column.fullName"
              class="column indent"
              draggable="true">
          {{ column.shortName }}
        </span>
      </li>
    </ul>
  </div>

  <!-- Forms and provided arguments -->
  <div *ngIf="availableForms.length > 0">
    <h5 class="block-container caption">
      Formulare
    </h5>

    <div *ngIf="availableForms.length > 0"
         class="alert alert-warning" role="alert">
      <strong>Noch nicht fertig!</strong> Für den Augenblick müssen Daten aus Formularen direkt im Editor per Drag &amp; Drop verknüpft werden.
    </div>

    <div class="page-preview">
      <div class="border-structural-preview">
        <div class="column-preview">
          <span aria-hidden="true" ng-reflect-class-name="fa fa-fw fa-object-group" class="fa fa-fw fa-object-group"></span>Formular
        </div>
      </div>
    </div>
    <ul class="fa-ul block-container">
      <li *ngFor="let inputName of availableForms[0].providedNames;">
        <span class="fa fa-li fa-sign-out" aria-hidden="true"></span>
        <span class="column indent">{{ inputName }}</span>
      </li>
    </ul>
  </div>
  
  <!-- Globally available data -->
  <div class="block-container block">
    <span class="caption">
      Konstanten
    </span>
    <ul class="fa-ul">
      <li *ngFor="let constant of availableConstants;">
        <span class="fa fa-li fa-sign-in" aria-hidden="true"></span>
        <span class="column indent">{{ constant }}</span>
      </li>
    </ul>
  </div>
</sidebar-item-host>
