<sidebar-item-host>
  <div class="page-preview">
    <div *ngFor="let widget of availableWidgets; trackBy: trackWidgetByName"
         (dragstart)="onStartWidgetDrag($event, widget.model)"
         [class]="borderCssClass(widget.category)"
         draggable="true">
      <div class="column-preview">
        <span class="fa fa-fw {{ widget.icon }}" aria-hidden="true"></span>{{ widget.name }}
      </div>
    </div>    
  </div>
</sidebar-item-host>
