<div class="card">
  <div class="card-block">
    <h4 class="card-title">Seiteneditor</h4>
    <p class="card-text">
      In diesem Editor kannst du den Seitenbaum inklusive aller unsichtbaren Elemente bearbeiten.
    </p>
  </div>
  <div *ngIf="page"
       class="card-block">
    <div class="page-preview">
      <esqulino-node-widget-loader [model]="page.body">
      </esqulino-node-widget-loader>
    </div>
  </div>
</div>
