<fieldset class="form-group">
  <label for="input-{{outParamName}}">
    {{caption}}
  </label>
  <input type="{{inputType}}"
         class="form-control"
         id="input-{{outParamName}}"
         name="{{outParamName}}"
         {% if required %}required{% endif %}
         placeholder="">
  <small class="text-muted">{{description}}</small>
</fieldset>
