{% if table %}
  {% assign columnNames = columns | split: ',' %}
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        {% for name in columnNames %}
          <th>{{ name }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% for row in table %}
      <tr>
        {% for name in columnNames %}
          <td>{{ row[name] }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% else %}
  <div class="alert alert-danger" role="alert">
    Diese Tabelle kann nicht angezeigt werden, weil ihr <strong>keine Abfrage</strong> übergeben worden ist.
  </div>
{% endif %}
