<div class="container-fluid">
  <div class="card">
    <div class="card-block">
      <h4>Neue Abfrage erstellen</h4>
      <p>Immer wenn Daten aus der Datenbank gelesen oder verändert werden sollen braucht man dazu eine Abfrage.</p>
    </div>
    <div class="card-block">
      <form>
        <div class="form-group row"
             [class.has-danger]="!isValid"
             [class.has-success]="isValid">
          <label for="inputName"
                 class="col-sm-2 form-control-label">
            Name der Abfrage
          </label>
          <div class="col-sm-10">
            <input [(ngModel)]="queryName"
                   [class.form-control-danger]="!isNameValid"
                   [class.form-control-success]="isNameValid"
                   #name="ngModel"
                   name="inputName"
                   type="text"
                   class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Tabelle
          </label>
          <div class="col-sm-10">
            <div *ngFor="let table of availableTables; let first = first"
                 class="radio">
              <label>
                <input (change)="queryTable=$event.target.value"
                       [checked]="queryTable == table.name"
                       type="radio"
                       name="queryTable"
                       [value]="table.name">
                <code>{{ table.name }}</code>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Art der Abfrage
          </label>
          <div class="col-sm-10">
            <div class="radio">
              <label>
                <input (change)="queryType=$event.target.value"
                       checked
                       type="radio"
                       name="queryType"
                       value="select">
                <code>SELECT</code>-Abfrage um Daten zu lesen.
              </label>
            </div>
            <div class="radio">
              <label>
                <input (change)="queryType=$event.target.value"
                       type="radio"
                       name="queryType"
                       value="insert">
                <code>INSERT</code>-Abfrage um neue Daten hinzuzufügen.
              </label>
            </div>
            <div class="radio">
              <label>
                <input (change)="queryType=$event.target.value"
                       type="radio"
                       name="queryType"
                       value="update">
                <code>UPDATE</code>-Abfrage um Daten zu verändern.
              </label>
            </div>
            <div class="radio">
              <label>
                <input (change)="queryType=$event.target.value"
                       type="radio"
                       name="queryType"
                       value="delete">
                <code>DELETE</code>-Abfrage um Daten zu löschen.
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
