<div class="sql">
  <div class="content">    
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Abfrage-Editor</h4>
        <p class="card-text">
          Hier wird deine SQL-Anfrage bearbeitet. Ziehe einfach aus der Seitenleiste die passenden Blöcke auf deine Anfrage.
        </p>
      </div>
      <div class="card-block">
        <sql-query [query]="query"></sql-query>
      </div>

      <div *ngIf="showSingleRowCheckbox"
           class="card-block">
        <div class="checkbox">
          <label>
            <input [(ngModel)]="query.singleRow"
                   type="checkbox"> Diese Abfrage betrifft <strong>immer</strong> exakt eine Zeile.
          </label>
        </div>
      </div>
    </div>

    <div *ngIf="requiredParameters.length > 0"
         class="card">
      <div class="card-block">
        <h4 class="card-title">Parameter erforderlich!</h4>
        <p class="card-text">
          Deine Abfrage verwendet Parameter und funktioniert daher nicht ohne Eingaben vom Benutzer. Wenn du sie trotzdem gerne ausprobieren möchtest, musst du hier testweise Werte eingeben.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let param of requiredParameters"
            class="list-group-item">
          <div class="input-group">
            <span class="input-group-addon"
                  id="param-{{param}}">
              {{ param }}
            </span>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="cachedArguments[param]"
                   name="parameter-{{param}}">
          </div>
        </li>
      </ul>
    </div>
    
    <sql-result [result]="result"></sql-result>

    <sql-validator [query]="query"></sql-validator>

    <div *ngIf="query"
         class="alert alert-info">
      <h6>
        <span class="fa fa-bug"></span>
        SQL-Darstellung
      </h6>
      <pre>{{ query | sqlString }}</pre>
    </div>

    <div *ngIf="query && showJsonModel"
         class="alert alert-info">
      <h6>
        <span class="fa fa-bug"></span> JSON-Darstellung
      </h6>
      <pre>{{ query | json }}</pre>
    </div>
  </div>
</div>
