<div *ngIf="select"
     class="line">
  <div class="component">SELECT</div>
  <div class="columns">
    <span *ngFor="let column of select.columns; let last = last">
      <sql-expr [query]="query"
                [expr]="column.expr"
                [prefixTable]="true"></sql-expr>
    </span>
    <span *ngIf="showBlueprintDropTarget"
          (dragover)="onBlueprintDrag($event)"
          (drop)="onBlueprintDrop($event)"
          class="column blueprint">
      <span class="fa fa-plus"></span>
    </span>
  </div>
</div>
