<div *ngIf="isInsertQuery">
  <table class="table">
    <thead>
      <tr>
        <th>Aktiv?</th>
        <th>Typ</th>
        <th>Spalte</th>
        <th>Neuer Wert</th>
      </tr>
    </thead>
    <tr *ngFor="let curr of allColumns; trackBy: trackByColumnName;">
      <td>
        <input (change)="onColumnUsageChanged(curr.column.name)"
               [checked]="!!curr.expr"
               type="checkbox">
      </td>
      <td>
        <code>{{ curr.column.type }}</code>
      </td>
      <td>
        <span class="block-container">
          <span class="column">
            {{ curr.column.name }}
          </span>
        </span>
      </td>
      <td>
        <div *ngIf="curr.expr"
             class="block-container">
          <sql-expr [expr]="curr.expr"
                    [query]="query">
          </sql-expr>
        </div>
      </td>
    </tr>
  </table>
</div>
