<span (dragenter)="onAllowedDrag($event)"
      (dragover)="onAllowedDrag($event)"
      (dragleave)="onAllowedDragLeave($event)"
      [ngSwitch]="expr.templateIdentifier">
  <template ngSwitchCase="missing">
    <span (drop)="onMissingDrop($event)"
          class="missing"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }"><span class="fa fa-question-circle"></span></span>
  </template>
  <template ngSwitchCase="star">
    <span (drop)="onStarDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="column"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }"><span class="fa fa-fw fa-star"></span></span>
  </template>
  <template ngSwitchCase="constant">
    <span (drop)="onConstantDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="constant"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">{{ expr.toSqlString() }}</span>
  </template>
  <template ngSwitchCase="column">
    <span (drop)="onColumnDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          [title]="prefixTable ? '' : expr.qualifiedName"
          draggable="true"
          class="column"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">{{ expr.getName(prefixTable) }}</span>
  </template>
  <template ngSwitchCase="parameter">
    <span (drop)="onParameterDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="parameter"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">
      <span class="fa fa-sign-in"></span>
      {{ expr.key }}
    </span>
  </template>
  <template ngSwitchCase="binary">
    <span (drop)="onBinaryDrop($event)"
          (dragstart)="onExpressionDragStart($event)"
          draggable="true"
          class="expression"
          [ngClass]="{ 'current-drop-target' : isCurrentDropTarget }">
      <sql-expr [expr]="expr.lhs"
                [query]="query">
      </sql-expr>
      <span (click)="onOperatorClick()"
            [innerHtml]="expr.operator | operator"
            class="operator"></span>
      <sql-expr [expr]="expr.rhs"
                [query]="query">
      </sql-expr>
    </span>
  </template>
  <template ngSwitchDefault>
    Error: Unknown expression type identifier "{{expr.templateIdentifier}}"
  </template>
</span>
