<div *ngIf="query"
     class="block-container">
  <sql-select [query]="query"></sql-select>
  <sql-delete [query]="query"></sql-delete>
  <sql-from [query]="query"></sql-from>
  <sql-where [query]="query"></sql-where>
</div>
<sql-insert [query]="query"></sql-insert>
