<div class="columns column-list"> 
  <span *ngFor="let column of columns; trackBy : trackByName; let i = index"
        (dragstart)="onDragStart($event, i, column)"
        (dragover)="allowDrag($event)"
        (dragenter)="onColumnDragOver($event, i)"
        (drop)="onColumnDrop($event, i)"
        [title]="column.fullName"
        id="column-{{ column.shortName }}"
        draggable="true"
        class="column">{{ column.shortName }}</span>
</div>
