<div *ngIf="result"
     class="result card">
  <div class="card-block">
    <h4>Ergebnisse</h4>
    <p>Hier kannst du das Ergebnis der Abfrage sehen.</p>
    <div *ngIf="result.isError"
         class="alert alert-danger"
         role="alert">
      <h6>
        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
        SQL Fehler!
      </h6>
      <p>
        Bei der Bearbeitung dieser Abfrage hat die Datenbank den folgenden Fehler gemeldet: <samp>"{{ result.errorMessage }}"</samp>.
      </p>
    </div>

    <div *ngIf="!result.hasValidSingleRowCount"
         class="alert alert-danger"
         role="alert">
      <h6>
        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
        Nicht exakt eine Zeile!
      </h6>
      <p>
        Diese Abfrage sollte immer exakt eine Zeile liefern, tatsächlich enthält das Ergebnis aber {{ result.rows.length }} Zeilen.
      </p>
    </div>
    
    <table *ngIf="!result.isError"
           class="table table-sm table-hover">
      <thead>
        <tr>
          <th *ngFor="let col of result.cols">
            {{ col.fullName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of result.rows">
          <td *ngFor="let cell of row.cells">
            {{ cell.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
