<div *ngIf="result && !result.isValid"
     class="alert alert-danger"
     role="alert">
  <h6>
    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
    Fehler in der Abfrage
  </h6>
  <table class="table-sm">
    <tr>
      <th width="200">Wo?</th>
      <th>Fehler</th>
    </tr>
    <tr *ngFor="let error of result?.errors"
        class="table-danger">
      <td>{{ error.location }}</td>
      <td>{{ error.errorMessage }}</td>
    </tr>
  </table>
</div>
